cache==1.0.3
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.7
docopt==0.6.2
filelock==3.13.1
idna==3.4
pipenv==2023.11.15
pippip==0.0.10
pipreqs==0.4.13
platformdirs==4.0.0
purge==1.0
pycairo==1.24.0
PyGObject==3.44.1
requests==2.31.0
urllib3==2.1.0
virtualenv==20.24.7
yarg==0.1.9
langchain==0.0.134
openai==0.28.1
unstructured
chromadb
tiktoken
flet